<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Let's Add{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block style %}
        {% endblock %}
    </head>
    <body>
        {% block header %}
        <header>
            <p><a href="{% url 'home' %}">Let&#8217;s Add</a></p>
        </header>
        {% endblock %}
        {% block content %}
        {% endblock %}
        {% block footer %}
        <footer>
            <p>&copy; {% now 'Y' %} <a href="{% url 'home' %}">Let&#8217;s Add</a>. <a href="https://github.com/richardcornish/letsadd">Code on GitHub</a>.</p>
        </footer>
        {% endblock %}
        {% block scripts %}
        {% endblock %}
    </body>
</html>