{% extends 'base.html' %}


{% block header %}

<h1><a href="{% url 'home' %}">Let&#8217;s Add</a></h1>

{% endblock %}


{% block content %}

<p>Working examples of code written in <a href="https://www.djangoproject.com/">Django</a> with <a href="https://www.python.org/">Python</a>, available on <a href="https://github.com/richardcornish/letsadd">GitHub</a>, and hosted on <a href="https://www.heroku.com/">Heroku</a>.</p>

<h2><a href="{% url 'add:add_form' %}">Add Two Numbers</a></h2>

<p>A form that adds two numbers together and displays the result.</p>

<h2><a href="{% url 'series:series_form' %}">Add Series of Numbers</a></h2>

<p>A form that adds a number to a running total of previously added numbers.</p>

<h2><a href="{% url 'counter:click_create' %}">Ajax Counter</a></h2>

<p>A form that increments the number of button clicks using Ajax.</p>

<h2><a href="{% url 'initial:post_create' %}">Create object with initial data</a></h2>

<p>A form that creates an object with pre-populated fields of related initial data.</p>

<h2><a href="{% url 'oscars:ballot_create' %}">Create a ballot for the Oscars</a></h2>

<p>A form that creates a ballot for selection of Academy Award nominees in Oscar pools.</p>

<h2><a href="{% url 'rando:random_form' %}">Random number generator</a></h2>

<p>A form that generates a random number based on an inclusive range.</p>

<h2><a href="{% url 'alphabetize:alphabetize_form' %}">Alphabetizer</a></h2>

<p>A form that alphabetizes a text field based on line boundaries.</p>

{% comment %}
<h2><a href="{% url 'warhammer:chapter_form' %}">Warhammer 40,000 names</a></h2>

<p>A series of forms that chooses a random chapter name and human name.</p>
{% endcomment %}

<h2><a href="{% url 'choices:bot_list' %}">Display model choices</a></h2>

<p>An object whose field with choices are displayed.</p>

<h2><a href="{% url 'twilidator:profile_list' %}">Customize Twitter URL validators</a></h2>

<p>A form that customizes the validation of a Twitter-esque URL.</p>

<h2><a href="{% url 'fetch:search' %}">Live search with Fetch</a></h2>

<p>A form that live searches data with the <a href="https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API">Fetch API</a>.</p>

<h2><a href="{% url 'geocode:search' %}">Geocode search</a></h2>

<p>A form that searches for nearby restaurants based on postal code with the Google <a href="https://developers.google.com/maps/documentation/places/web-service/overview">Places API</a>.</p>

{% endblock %}