{% extends 'base.html' %}

{% load static geocode_tags %}


{% block title %}Geocode search &#8226; {{ block.super }}{% endblock %}


{% block style %}
{{ block.super }}
<style>
    img {
        max-width: 100%;
    }
</style>
{% endblock %}


{% block content %}

<h1><a href="{% url 'geocode:search' %}">Geocode search</a></h1>

<p>A form that searches for nearby restaurants based on postal code with the Google <a href="https://developers.google.com/maps/documentation/places/web-service/overview">Places API</a>. <a href="https://www.reddit.com/r/djangolearning/comments/nn1veh/question_about_using_google_api_geocoding/">Request</a>.</p>

<h2>Search places</h2>

{% if form.non_field_errors %}
    <ul>
    {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}

<form method="get" action="{% url 'geocode:search' %}">
    {% for hidden in form.hidden_fields %}
        <div>{{ hidden }}</div>
    {% endfor %}
    {% for field in form.visible_fields %}
        {% if field.errors %}
            <ul>
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        <p>{{ field.label_tag }}</p>
        <p>{{ field }}</p>
        {% if field.help_text %}
            <p><small>{{ field.help_text }}</small></p>
        {% endif %}
    {% endfor %}
    <button type="submit">Search places</button>
</form>

{% if query %}
    <h2>Search results</h2>
    {% if point %}
        <p><code>{{ query }}</code> is at <a href="https://www.google.com/maps/?q={{ point.latitude }}%2C%20{{ point.longitude }}"><code>{{ point.latitude }}</code>, <code>{{ point.longitude }}</code></a>.</p>
    {% endif %}
    {% if place_list %}
        {% for place in place_list %}
            <h3><a href="https://www.google.com/maps/search/?api=1&amp;query={{ place.name|urlencode }}%2C%20{{ place.vicinity|urlencode }}&amp;query_place_id={{ place.place_id }}">{{ place.name }}</a> {% if place.business_status %}<small>({{ place.business_status|lower|capfirst|unslugify }})</small>{% endif %}</h3>
            <p>{{ place.vicinity }}</p>
            {% if place.photos.0 %}
            <p><a href="https://www.google.com/maps/search/?api=1&amp;query={{ place.name|urlencode }}%2C%20{{ place.vicinity|urlencode }}&amp;query_place_id={{ place.place_id }}"><img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth={{ max_width }}&amp;photoreference={{ place.photos.0.photo_reference }}&amp;key={{ google_api_key }}" alt="Photo of {{ place.name }}"></a></p>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>No results.</p>
    {% endif %}
    <p><a href="{% url 'geocode:search' %}">Reset form</a></p>
{% endif %}

{% endblock %}