{% extends 'base.html' %}

{% load static humanize haversine_tags %}


{% block title %}Haversine search &#8226; {{ block.super }}{% endblock %}


{% block style %}
{{ block.super }}
<style>
    .map {
        width: 100%;
        max-width: auto;
        height: 400px;
    }
    html, body {
        height: 100%;
    }
</style>
{% endblock %}


{% block content %}

<h1><a href="{% url 'haversine:park_list' %}">Haversine search</a></h1>

<p>A form that searches for nearby <a href="https://en.wikipedia.org/wiki/List_of_national_parks_of_the_United_States">U.S. national parks</a> based on location using the <a href="https://en.wikipedia.org/wiki/Haversine_formula">Haversine formula</a>.</p>

<div class="map"></div>

<h2>{{ object }}</h2>

<h3>Location</h3>

<p>{{ object.location }}</p>

<p>{{ object.latitude }}, {{ object.longitude }}</p>

<h3>Date established</h3>

<p>{{ object.established }}</p>

<h3>Area</h3>

<p>{{ object.area|intcomma }}</p>

<h3>Visitors</h3>

<p>{{ object.visitors|intcomma }}</p>

<h3>World Heritage Site</h3>

<p>{{ object.whs|yesno:"Yes,No" }}</p>

<h3>Biosphere Reserve</h3>

<p>{{ object.br|yesno:"Yes,No" }}</p>

<h3>Description</h3>

<p>{{ object.description }}</p>

<p><a href="{{ object.url }}">Wikipedia</a></p>

<p><a href="{{ previous }}">Return to search</a></p>

{% endblock %}


{% block scripts %}
<script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}"></script>
<script src="{% static 'haversine/js/script.js' %}"></script>
<script>
    park_detail(".map", {{ object_json|safe }});
</script>
{% endblock %}