{% extends 'base.html' %}

{% load humanize static haversine_tags %}


{% block title %}Haversine search &#8226; {{ block.super }}{% endblock %}


{% block style %}
{{ block.super }}
<style>
    .map {
        width: 100%;
        max-width: auto;
        height: 400px;
    }
    html, body {
        height: 100%;
    }
</style>
{% endblock %}


{% block content %}

<h1><a href="{% url 'haversine:park_list' %}">Haversine search</a></h1>

<p>A form that searches for nearby <a href="https://en.wikipedia.org/wiki/List_of_national_parks_of_the_United_States">U.S. national parks</a> based on location using the <a href="https://en.wikipedia.org/wiki/Haversine_formula">Haversine formula</a>.</p>

<div class="map"></div>

<h2>Search parks</h2>

{% if form.non_field_errors %}
    <ul>
    {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}

<form method="get" action="{% url 'haversine:park_list' %}">
    {% for hidden in form.hidden_fields %}
        <div>{{ hidden }}</div>
    {% endfor %}
    {% for field in form.visible_fields %}
        {% if field.errors %}
            <ul>
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        <p>{{ field.label_tag }}</p>
        <p>{{ field }}</p>
        {% if field.help_text %}
            <p><small>{{ field.help_text }}</small></p>
        {% endif %}
    {% endfor %}
    <button type="submit">Search parks</button>
</form>

<h2>{% if query %}Search results{% else %}Parks{% endif %}</h2>

<p>{{ object_list|length }} park{{ object_list|pluralize }} {% if query %}within {{ radius|intcomma }} {% get_field_display form.units units %} of <a href="https://www.google.com/maps/?q={{ point.formatted_address|urlencode }}">{{ point.formatted_address }}</a>{% endif %}</p>

<ul>
    {% for obj in object_list %}
        <li><a href="{{ obj.get_absolute_url }}">{{ obj }}</a>
            {% if obj.distance %}{{ obj.distance|floatformat:"0g" }} {{ units }}{% endif %}
        </li>
    {% endfor %}
</ul>

{% if query %}
    <p><a href="{% url 'haversine:park_list' %}">Reset form</a></p>
{% endif %}

{% endblock %}


{% block scripts %}
<script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}"></script>
<script src="{% static 'haversine/js/script.js' %}"></script>
<script>
    render_map(".map", [{% for obj in object_list %}{name: "{{ obj.name }}", url: "{{ obj.get_absolute_url }}", point: {lat: {{ obj.latitude }}, lng: {{ obj.longitude }}}{% if point %}, distance: "{{ obj.distance|floatformat:'0g' }} {% get_field_display form.units units %}"{% endif %}}{% if not forloop.last %}, {% endif %}{% endfor %}]{% if point %}, {radius: {{ radius }}, point: {lat: {{ point.latitude }}, lng: {{ point.longitude }}}}, "{% static 'haversine/img/icon-green.png' %}"{% endif %});
</script>
{% endblock %}