{% extends 'base.html' %}

{% load static %}


{% block title %}Live search with Fetch &#8226; {{ block.super }}{% endblock %}


{% block content %}

<h1>Live search with Fetch</h1>

<p>A form that live searches data with the <a href="https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API">Fetch API</a>. <a href="https://www.reddit.com/r/djangolearning/comments/nm8v98/how_to_do_live_search_using_fetch_ajax_method_in/">Request</a>.</p>

<h2>Search posts</h2>

<p>Hint: Try <code>hello</code>, <code>nice</code>, <code>good</code>, or <code>content</code>.</p>

{% if form.non_field_errors %}
<ul>
    {% for error in form.non_field_errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}

<form method="get" action="{% url 'fetch:search' %}">
    {% for hidden in form.hidden_fields %}
        <div>{{ hidden }}</div>
    {% endfor %}
    {% for field in form.visible_fields %}
        <div class="error error-{{ field.id_for_label }}">
        {% if field.errors %}
            <ul>
                {% for error in field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}            
        </div>
        <p>{{ field.label_tag }}</p>
        <p>{{ field }}</p>
        {% if field.help_text %}
            <p>{{ field.help_text }}</p>
        {% endif %}
    {% endfor %}
</form>

<div class="results">
{% if query %}
    {% if object_list %}
        <ul>
            {% for obj in object_list %}
            <li><a href="{{ obj.get_absolute_url }}">{{ obj }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No results.</p>
    {% endif %}
{% endif %}
</div>

<p><a href="{% url 'fetch:search' %}">Reset form</a></p>

{% endblock %}


{% block scripts %}
<script src="{% static 'fetch/js/script.js' %}"></script>
<script>
    ajax("input[name='q']", "http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}{% url 'fetch:search' %}", ".results", ".error");
</script>
{% endblock %}