{% extends 'base.html' %}

{% load humanize %}


{% block title %}Alphabetizer &#8226; {{ block.super }}{% endblock %}


{% block content %}

<h1>Alphabetizer</h1>

<p>A form that <a href="https://docs.python.org/3/library/functions.html#sorted">alphabetizes</a> a text field based on <a href="https://docs.python.org/3/library/stdtypes.html#str.splitlines">line boundaries</a>.</p>

<h2>Enter text</h2>

<p>Or try out this text:</p>

<ul>
    <li>Superman</li>
    <li>Batman</li>
    <li>Spider-Man</li>
    <li>Wonder Woman</li>
    <li>Captain America</li>
    <li>Wolverine</li>
    <li>Green Lantern</li>
    <li>Black Panther</li>
    <li>The Flash</li>
    <li>Thor</li>
</ul>

{% if form.non_field_errors %}
<ul>
    {% for error in form.non_field_errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}

<form method="post" action="{% url 'alphabetize:alphabetize_form' %}">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
        <div>{{ hidden }}</div>
    {% endfor %}
    {% for field in form.visible_fields %}
        {% if field.errors %}
            <div>{{ field.errors }}</div>
        {% endif %}
        <p>{{ field.label_tag }}</p>
        <div>{{ field }}</div>
        {% if field.help_text %}
            <p>{{ field.help_text }}</p>
        {% endif %}
    {% endfor %}
    <p><button type="submit">Alphabetize</button></p>
</form>

{% if form.is_bound %}
    <p><a href="{% url 'alphabetize:alphabetize_form' %}">Reset form</a></p>
{% endif %}

{% endblock %}