{% extends 'base.html' %}

{% load humanize %}


{% block title %}Alphabetizer &#8226; {{ block.super }}{% endblock %}


{% block content %}

<h1>Alphabetizer</h1>

<p>A form that <a href="https://docs.python.org/3/library/functions.html#sorted">organizes</a> a text field based on <a href="https://docs.python.org/3/library/stdtypes.html#str.splitlines">line boundaries</a>.</p>

<h2>Enter text</h2>

{% if form.non_field_errors %}
<ul>
    {% for error in form.non_field_errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}

<form method="post" action="{% url 'alphabetize:organize_form' %}">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
        <div>{{ hidden }}</div>
    {% endfor %}
    {% for field in form.visible_fields %}
        {% if field.errors %}
            <div>{{ field.errors }}</div>
        {% endif %}
        <p>{{ field.label_tag }}</p>
        <div>{{ field }}</div>
        {% if field.help_text %}
            <p><small>{{ field.help_text|safe }}</small></p>
        {% endif %}
    {% endfor %}
    <p><button type="submit">Organize</button></p>
</form>

{% if form.has_changed %}
    <p><a href="{% url 'alphabetize:organize_form' %}">Reset form</a></p>
{% endif %}

{% endblock %}